<form method="post" action="?">
	<input type="hidden" name="tg" value="addon/LibNewsletter/subscribe" />
	<input type="email" name="email" value="nom@example.com" onfocus="this.value=''" />

	<OCLibNewsletterLists>
		<p><label><input type="checkbox" name="lists[]" value="<OVListId>" style="vertical-align:middle" />&nbsp;<OVListName></label></p>
	</OCLibNewsletterLists>

	<input type="submit" value="Je m'inscris" />
</form>